body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.containerMaster {
  min-height: fit-content;
}

.board {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
